aiohttp==3.3.1
appdirs==1.4.3
apturl==0.5.2
asn1crypto==0.24.0
async-timeout==3.0.0
asyncio==3.4.3
attrdict==2.0.0
attrs==18.1.0
beautifulsoup4==4.4.1
blinker==1.3
Brlapi==0.6.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
checkbox-support==0.22
click==6.7
coincurve==7.1.0
colorama==0.3.9
command-not-found==0.3
cryptography==1.2.3
cytoolz==0.9.0.1
defer==1.0.6
dell-recovery==0.0.0
elasticsearch==1.9.0
eth-abi==1.1.1
eth-account==0.2.3
eth-hash==0.1.4
eth-keyfile==0.5.1
eth-keys==0.2.0b3
eth-rlp==0.1.2
eth-utils==1.0.3
ethereum==2.3.1
feedparser==5.1.3
Flask==1.0.2
future==0.16.0
guacamole==0.9.2
hexbytes==0.1.0
html5lib==0.999
httplib2==0.9.1
httpretty==0.9.4
idna==2.6
idna-ssl==1.0.1
itsdangerous==0.24
Jinja2==2.10
language-selector==0.1
louis==2.6.4
lru-dict==1.1.6
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
multidict==4.3.1
nose==1.3.7
numpy==1.14.4
oauthlib==1.0.3
onboard==1.2.0
padme==1.1.1
pandas==0.23.0
parsimonious==0.8.0
pbkdf2==1.3
pexpect==4.0.1
Pillow==3.1.2
plainbox==0.25
progressbar==2.3
psycopg2==2.7.4
ptyprocess==0.5
py-ecc==1.4.2
pyasn1==0.1.9
pycparser==2.18
pycryptodome==3.6.1
pycups==1.9.73
pycurl==7.43.0
pyelasticsearch==1.2.3
pyethash==0.1.27
pygobject==3.20.0
PyJWT==1.3.0
pyparsing==2.0.3
pysha3==1.0.2
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.7.3
python-debian==0.1.27
python-systemd==231
python-telegram-bot==10.1.0
pytz==2018.4
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
repoze.lru==0.7
requests==2.18.4
rlp==1.0.1
screen-resolution-extra==0.0.0
scrypt==0.8.6
sessioninstaller==0.0.0
simplejson==3.15.0
six==1.10.0
SQLAlchemy==1.2.8
system-service==0.3
telegram-send==0.20
toolz==0.9.0
tqdm==4.23.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.13.1
usb-creator==0.3.0
vboxapi==1.0
web3==4.3.0
websockets==4.0.1
Werkzeug==0.14.1
xdiagnose==3.8.4
xkit==0.0.0
XlsxWriter==0.7.3
yarl==1.2.5